<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mr. 黒電話</title>
    <script type="text/javascript" src="/static/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/static/index.js"></script>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="shortcut icon" href="./static/img/favicon.ico">
</head>
<body>
    <div class="title">Mr. 黒電話</div>
    <div class="main">
        <form action="/post" method ="post" enctype = "multipart/form-data" class="form">
            <div class="area center trim">
                <div id="id_default" class="default">
                    <img class="default-image" src="./static/img/main.png" />
                    <div class="default-text">与えられた画像が金正恩か黒電話かをAIが判別します。</div>
                </div>
                <div id="id_selected" class="selected hidden">
                    <img id = 'image' class="image" src="" />
                </div>
            </div>
            <div class="area">   
                <div class="area">
                    <div id='selectFile' class="button">
                        <label>
                            <div id='uploadText'></div>
                            <input type="file" id = "file" name = "file" accept = "image/*" onchange = "isSelected()" class="hidden" />
                        </label>
                    </div>
                </div>                
                <div class="area">
                    <input type = "submit" id = "uploadBtn" class="button main" value = "判定する" disabled>
                </div>            
            </div>
        </form>
    </div>
    <div class="footer">Developed by 日曜大工</div>
</body>
</html>