::-webkit-scrollbar {
      display: none;
      -webkit-appearance: none;
}

body{
    background-color:#fafafa;
    color:#333631;
    font-size:3em;
    font-family:sans-serif;
    margin:0;
}

.main{
    padding:0 7rem 7rem 7rem;
    box-sizing:border-box;
}

.footer{
    color:gray;
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    background-color:#eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:0.5em;
    padding:0.5em;
    box-sizing:border-box;
}


.title{
    background-color:#444444;
    color:#dddddd;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:0.5em;
    box-sizing:border-box;
}

.answer-area{
    display: flex;
    justify-content: center;
    align-items: center;
}

.answer{
    font-weight:bold;
    color:#2ca9e1;
    font-size:1.5em;
    padding:0 0.2em;
}

/* 結果表示領域 */

.result{
    font-size:0.7em;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result-title{
    font-weight:bold;
    padding:0.5em 1.5em;
    background-color:red;
    box-sizing:border-box;
}

.result-item{
    width:50%;
}



/* 領域 */

.area{
    width:100%;
    margin:1em 0;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.trim{
    overflow:scroll;
}

.default{
    text-align:justify;
    font-size:0.8em;
    height:40rem;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.default-text{
    padding:0.8em 0 0 0;
    box-sizing:border-box;
}

.selected{
    height:40rem;
}


/* ボタン */


.button{
    appearance: none;
    -webkit-appearance: none;
    font-size:100%;
    width:100%;
    background-color:#aaaaaa;
    color:#fdfdfd;
    padding:0.7em 1em;
    box-sizing:border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    border-radius:0.2em;
    text-decoration: none;
}

.button.main{
    background-color:#2ca9e1;
}

.button:disabled {
    background-color:#d9d9d9;
    color:#bbbbbb;
}

.button-icon{
    height:1.2em;
    margin:0 0.5em 0 0;
}

.image{
    min-height:40rem;
    max-height:40rem;
}

.default-image{
    width:95%;
    
}

.hidden{
    display: none;
}